<!DOCTYPE html>
<html>
<head>
    <title>Insect Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Insect Database</h1>
    <form action="/search" method="post">
        <label for="squad_id">Squad:</label>
        <select id="squad_id" name="squad_id">
            <option value="">Select Squad</option>
            {% for squad in squads %}
            <option value="{{ squad.id }}">{{ squad.name }}</option>
            {% endfor %}
        </select>
        <label for="family_id">Family:</label>
        <select id="family_id" name="family_id">
            <option value="">Select Family</option>
            {% for family in families %}
            <option value="{{ family.id }}">{{ family.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </form>
    <ul>
    {% for insect in insects %}
        <li>
            <a href="/insect/{{ insect.id }}">{{ insect.lat_name }} ({{ insect.ru_name }})</a>
        </li>
    {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>